/* Font */

$font-family:"Verdana","Geneva", sans-serif;
$font-size:15px;
$font-color:#000;


/* Background */

$primary-color:#00628B;
$secondary-color:#81A594;
$light-color:#E6E6DC;
$dark-color:#2b5464;

/* Jumbotron */

$jumbotron-height:400px;
$jumbotron-image:'../img/jumbotron.jpg';